<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 초기화</title>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function(){

            $('form').on('submit', function(){

                var password = $(this).find('input[name=password]').val();
                var rePassword = $(this).find('input[name=rePassword]').val();

                if(password != rePassword){
                    alert('비밀번호값하고 확인비밂번호값이 일치하지 않습니다.');
                    false;
                }
            });
        });

    </script>
</head>
<body>

<h1>비밀번호 초기화</h1>

<div th:replace="/fragments/layout.html :: fragment-body-menu">
</div>

<form method="post">

    <div th:text="${uuid}">
    </div>
    <div th:text="${parameter}"></div>
    <div>
        <label>
            <input type="password" name="password" placeholder="비밀번호 입력" required/>
        </label>
    </div>
    <div>
        <label>
            <input type="password" name="rePassword" placeholder="확인 비밀번호 입력" required/>
        </label>
    </div>
    <div>
        <button type="submit"> 비밀번호 재설정 </button>
    </div>
</form>
</body>
</html>